@{
    ViewBag.title = "Consultas Paciente";
    

 }
<h3>@ViewBag.title</h3>

<div class="">
    <div class="">
        <form class="">
            <div class="frm-citas">
                <label>Nombre: <input class="form-control" type="text" /></label>

            </div>
            <div class="frm-citas">
                <label>Apellido: <input class="form-control" type="text" /> </label>

            </div>
            <div class="frm-citas">
                <label>Especialidad: <input class="form-control" type="text" /> </label>

            </div>
            <div class="frm-citas">
                <label>Fecha de Cita: <input class="form-control" type="text" /></label>

            </div>
            <div class="frm-citas">
                <label>Hora de Cita: <input class="form-control" type="text" /> </label>

            </div>
        </form>

    </div>

</div>
