@{ 
    ViewBag.Title = "Registro Citas";
    ViewBag.sub = "Dato Paciente";
}

<h3> @ViewBag.Title </h3>
<h5>@ViewBag.sub</h5>
<br />
<div class="card">
    <div class="contenedor-registro">
        <form class="">
            <div class="frm-registrocitas">
                <label>DNI Paciente <input class="form-control" type="text" disabled /> </label>
            </div>
            <div class="frm-registrocitas">
                <label>Nombre: <input class="form-control" type="text" disabled />  </label>
            </div>
            <div class="frm-registrocitas">
                <label>Apellido: <input class="form-control" type="text" disabled /> </label>
            </div>
            <div class="frm-registrocitas">
                <label>Direccion:  </label>
                <input class="form-control" type="text" disabled />
            </div>
        </form>
    </div>

</div>
<br />
@{ 
    ViewBag.sub = "Datos de la Citasss";
}
<h5>@ViewBag.sub </h5>
<div class="card">
    <div class="contenedor-registro">
        <form class="">
            <div class="frm-cosultacitas">
                <label>Nombre Medico: <input class="form-control" type="text" disabled /></label>
            </div>
            <div class="frm-cosultacitas">
                <label>Apellido Medico <input class="form-control" type="text" disabled/>  </label>

            </div>
            <div class="frm-cosultacitas">
                <label>Especialidad: <input class="form-control" type="text" disabled />  </label>
            </div>
            <div class="frm-cosultacitas">
                <label>Consultorio: <input class="form-control" type="text" disabled /> </label>

            </div>
            <div class="frm-cosultacitas">
                <label>Precio: <input class="form-control" type="text" /></label>
                
            </div>
            <div class="frm-cosultacitas">
                <label>Fecha de la cita: <input class="form-control" type="text" disabled /></label>

            </div>
            <div class="frm-cosultacitas">
                <label>Hora de la Cita: <input class="form-control" type="text" disabled /></label>

            </div>
        </form>

    </div>
</div>