
@{ 
    ViewBag.Title = "Menu Citas";

}
<h4>@ViewBag.Title</h4>

<div class="card">
    menu
    <div class="contenedor-menu">
        citas pacientes
        <div class="Registro-citas">

        </div>

        <div class="Consultas-citas">

        </div>

    </div>
</div>
