@{ 
    ViewBag.Title = "Hola seguridad";
    
}
<h4>AQUI EL APARTADO DE SEGURIDAD</h4>
<div class="contenedor-seguridad">
    <div>
       <!--consutas-->
        <div>
            @Html.ActionLink("Consultas", "ConsultaUsuario","Login")
        </div>
       <!--registro-->
        <div>
            @Html.ActionLink("Registro", "ConsultaEmpleadoUsuario", "Login")
        </div>
       <!--actualizar-->
        <div>
            @Html.ActionLink("Reportes", "ActualizarUsuario","Login")
        </div>
    </div>
</div>